---
name: Haskell Linter

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

permissions:
  contents: read

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: 'Set up HLint'
        uses: haskell-actions/hlint-setup@v2
        with:
          version: latest

      - name: 'Run HLint'
        uses: haskell-actions/hlint-run@v2
        with:
          path: '["src/", "test/"]'
          fail-on: suggestion
